{% extends "base.html" %} 
{% load static %}

{% block title %}Sign Up{% endblock %} 
{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/auth/auth.css' %}">

{% endblock %} 

{% block content %}
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-4 border border-primary rounded-3 shadow">
      <h4 class="text-center text-body-secondary mt-3 border-bottom pb-2">
        LOGIN
      </h4>

<!-- Form starts here-------------------------------------------->

      <form action="" class="">
        <div>
          <input
            type="email"
            class="form-control mt-4"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter email"
          />
        </div>
        <div>
          <input
            type="password"
            class="form-control mt-4"
            id="Password1"
            placeholder="Password"
            autocomplete="off"
          />
        </div>
        <div class="form-group mt-4 d-grid gap-2">
          <button type="submit" class="btn btn-grad">Sign In</button>
        </div>
      </form>
<!-- Form ends here-------------------------------------------->

      <p class="mt-3">
        Don't have an account?
        <a href="#" class="loginhere-link">Sign Up</a>
      </p>
    </div>
  </div>
</div>

{% endblock %}
