{% extends "base.html" %}

{% block title %}Password Reset Done{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-4 border border-primary rounded-3 shadow">
            <h4 class="text-center text-body-secondary mt-3 border-bottom pb-2">
                Password Reset Done
            </h4>
            <p>We've emailed you instructions for setting your password. You should receive the email shortly.</p>
        </div>
    </div>
</div>
{% endblock %}
