{% extends "base.html" %}

{% block title %}User Home{% endblock %}

{% block extra_styles %}
<style>
    footer{
display: none;
    }
</style>
{% endblock %}

{% block content %}

<div class="p-1" style="background-color: rgb(255, 255, 255); max-height: 500px;">
    <div class="container  wow fadeIn mt-4 rounded-4 border mb-2" data-wow-delay="0.1s" style="padding: 20px;">
        <div class="container  p-1 ">
            <div class="row g-4 ">
                <div class="col-md-10">
                    <div class="row g-4">
                        <div class="col-md-4 ">
                            <div class="shadow">
                                <input type="text shadow" class="form-control border-0" placeholder="Keyword" />
                            </div>

                        </div>
                        <div class="col-md-4 bg-white ">
                            <div class="shadow">
                                <select class="form-select border-0">
                                    <option selected>Category</option>
                                    <option value="1">Category 1</option>
                                    <option value="2">Category 2</option>
                                    <option value="3">Category 3</option>
                                </select>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="shadow">
                                <select class="form-select border-0">
                                    <option selected>Location</option>
                                    <option value="1">Location 1</option>
                                    <option value="2">Location 2</option>
                                    <option value="3">Location 3</option>
                                </select>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-dark border-0 w-100">Search</button>
                </div>
            </div>
        </div>
    </div>




    <!-- Jobs Start -->
    <div class="container  py-2  rounded-4 ">
        <div class="container  sticky-top">
            <h4 class="text-center mb-2 wow fadeInUp  text-primary " data-wow-delay="0.1s">Jobs for you</h4>
            <hr>
                <div class="row ">
                    <div class="tab-class text-center wow fadeInUp col-5" data-wow-delay="0.3s">
                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane fade show p-0 active ">

                                
                                <div class="job-item p-4 mb-4 border bg-white border-primary">
                                    <div class="row g-4">
                                        <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                            <img class="flex-shrink-0 img-fluid border rounded" src="https://img.freepik.com/premium-vector/free-vector-company-logo-set-design-ideas_490098-487.jpg"
                                                alt="" style="width: 80px; height: 80px;">
                                            <div class="text-start ps-4">
                                                <h5 class="mb-3">Software Engineer</h5>
                                                <span class="text-truncate me-3"><i
                                                        class="fa fa-map-marker-alt text-primary me-2"></i>New York,
                                                    USA</span>
                                                <span class="text-truncate me-3"><i
                                                        class="far fa-clock text-primary me-2"></i>Full Time</span>
                                                <span class="text-truncate me-0"><i
                                                        class="far fa-money-bill-alt text-primary me-2"></i>$123 -
                                                    $456</span>
                                            </div>
                                        </div>
                                        <div
                                            class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                            <div class="d-flex mb-3">
                                                <a class="btn btn-light btn-square me-3" href=""><i
                                                        class="far fa-heart text-primary"></i></a>
                                                <a class="btn btn-primary" href="">Apply</a>
                                            </div>
                                            <small class="text-truncate mt-4"><i
                                                    class="far fa-calendar-alt text-primary me-2"></i>Date Line: 01 Jan,
                                                2045</small>
                                        </div>
                                    </div>
                                </div>
                                               
                                <div class="job-item p-4 mb-4 border bg-white border-primary">
                                    <div class="row g-4">
                                        <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                            <img class="flex-shrink-0 img-fluid border rounded" src="https://img.freepik.com/premium-vector/free-vector-company-logo-set-design-ideas_490098-487.jpg"
                                                alt="" style="width: 80px; height: 80px;">
                                            <div class="text-start ps-4">
                                                <h5 class="mb-3">Software Engineer</h5>
                                                <span class="text-truncate me-3"><i
                                                        class="fa fa-map-marker-alt text-primary me-2"></i>New York,
                                                    USA</span>
                                                <span class="text-truncate me-3"><i
                                                        class="far fa-clock text-primary me-2"></i>Full Time</span>
                                                <span class="text-truncate me-0"><i
                                                        class="far fa-money-bill-alt text-primary me-2"></i>$123 -
                                                    $456</span>
                                            </div>
                                        </div>
                                        <div
                                            class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                            <div class="d-flex mb-3">
                                                <a class="btn btn-light btn-square me-3" href=""><i
                                                        class="far fa-heart text-primary"></i></a>
                                                <a class="btn btn-primary" href="">Apply</a>
                                            </div>
                                            <small class="text-truncate mt-4"><i
                                                    class="far fa-calendar-alt text-primary me-2"></i>Date Line: 01 Jan,
                                                2045</small>
                                        </div>
                                    </div>
                                </div>
                                               
                                <div class="job-item p-4 mb-4 border bg-white border-primary">
                                    <div class="row g-4">
                                        <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                            <img class="flex-shrink-0 img-fluid border rounded" src="https://img.freepik.com/premium-vector/free-vector-company-logo-set-design-ideas_490098-487.jpg"
                                                alt="" style="width: 80px; height: 80px;">
                                            <div class="text-start ps-4">
                                                <h5 class="mb-3">Software Engineer</h5>
                                                <span class="text-truncate me-3"><i
                                                        class="fa fa-map-marker-alt text-primary me-2"></i>New York,
                                                    USA</span>
                                                <span class="text-truncate me-3"><i
                                                        class="far fa-clock text-primary me-2"></i>Full Time</span>
                                                <span class="text-truncate me-0"><i
                                                        class="far fa-money-bill-alt text-primary me-2"></i>$123 -
                                                    $456</span>
                                            </div>
                                        </div>
                                        <div
                                            class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                            <div class="d-flex mb-3">
                                                <a class="btn btn-light btn-square me-3" href=""><i
                                                        class="far fa-heart text-primary"></i></a>
                                                <a class="btn btn-primary" href="">Apply</a>
                                            </div>
                                            <small class="text-truncate mt-4"><i
                                                    class="far fa-calendar-alt text-primary me-2"></i>Date Line: 01 Jan,
                                                2045</small>
                                        </div>
                                    </div>
                                </div>
                                               
                                <div class="job-item p-4 mb-4 border bg-white border-primary">
                                    <div class="row g-4">
                                        <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                            <img class="flex-shrink-0 img-fluid border rounded" src="https://img.freepik.com/premium-vector/free-vector-company-logo-set-design-ideas_490098-487.jpg"
                                                alt="" style="width: 80px; height: 80px;">
                                            <div class="text-start ps-4">
                                                <h5 class="mb-3">Software Engineer</h5>
                                                <span class="text-truncate me-3"><i
                                                        class="fa fa-map-marker-alt text-primary me-2"></i>New York,
                                                    USA</span>
                                                <span class="text-truncate me-3"><i
                                                        class="far fa-clock text-primary me-2"></i>Full Time</span>
                                                <span class="text-truncate me-0"><i
                                                        class="far fa-money-bill-alt text-primary me-2"></i>$123 -
                                                    $456</span>
                                            </div>
                                        </div>
                                        <div
                                            class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                            <div class="d-flex mb-3">
                                                <a class="btn btn-light btn-square me-3" href=""><i
                                                        class="far fa-heart text-primary"></i></a>
                                                <a class="btn btn-primary" href="">Apply</a>
                                            </div>
                                            <small class="text-truncate mt-4"><i
                                                    class="far fa-calendar-alt text-primary me-2"></i>Date Line: 01 Jan,
                                                2045</small>
                                        </div>
                                    </div>
                                </div>
                                               
                                <div class="job-item p-4 mb-4 border bg-white border-primary">
                                    <div class="row g-4">
                                        <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                            <img class="flex-shrink-0 img-fluid border rounded" src="https://img.freepik.com/premium-vector/free-vector-company-logo-set-design-ideas_490098-487.jpg"
                                                alt="" style="width: 80px; height: 80px;">
                                            <div class="text-start ps-4">
                                                <h5 class="mb-3">Software Engineer</h5>
                                                <span class="text-truncate me-3"><i
                                                        class="fa fa-map-marker-alt text-primary me-2"></i>New York,
                                                    USA</span>
                                                <span class="text-truncate me-3"><i
                                                        class="far fa-clock text-primary me-2"></i>Full Time</span>
                                                <span class="text-truncate me-0"><i
                                                        class="far fa-money-bill-alt text-primary me-2"></i>$123 -
                                                    $456</span>
                                            </div>
                                        </div>
                                        <div
                                            class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                            <div class="d-flex mb-3">
                                                <a class="btn btn-light btn-square me-3" href=""><i
                                                        class="far fa-heart text-primary"></i></a>
                                                <a class="btn btn-primary" href="">Apply</a>
                                            </div>
                                            <small class="text-truncate mt-4"><i
                                                    class="far fa-calendar-alt text-primary me-2"></i>Date Line: 01 Jan,
                                                2045</small>
                                        </div>
                                    </div>
                                </div>
                                               
                                <div class="job-item p-4 mb-4 border bg-white border-primary">
                                    <div class="row g-4">
                                        <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                            <img class="flex-shrink-0 img-fluid border rounded" src="https://img.freepik.com/premium-vector/free-vector-company-logo-set-design-ideas_490098-487.jpg"
                                                alt="" style="width: 80px; height: 80px;">
                                            <div class="text-start ps-4">
                                                <h5 class="mb-3">Software Engineer</h5>
                                                <span class="text-truncate me-3"><i
                                                        class="fa fa-map-marker-alt text-primary me-2"></i>New York,
                                                    USA</span>
                                                <span class="text-truncate me-3"><i
                                                        class="far fa-clock text-primary me-2"></i>Full Time</span>
                                                <span class="text-truncate me-0"><i
                                                        class="far fa-money-bill-alt text-primary me-2"></i>$123 -
                                                    $456</span>
                                            </div>
                                        </div>
                                        <div
                                            class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                            <div class="d-flex mb-3">
                                                <a class="btn btn-light btn-square me-3" href=""><i
                                                        class="far fa-heart text-primary"></i></a>
                                                <a class="btn btn-primary" href="">Apply</a>
                                            </div>
                                            <small class="text-truncate mt-4"><i
                                                    class="far fa-calendar-alt text-primary me-2"></i>Date Line: 01 Jan,
                                                2045</small>
                                        </div>
                                    </div>
                                </div>
                                               
                                <div class="job-item p-4 mb-4 border bg-white border-primary">
                                    <div class="row g-4">
                                        <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                            <img class="flex-shrink-0 img-fluid border rounded" src="https://img.freepik.com/premium-vector/free-vector-company-logo-set-design-ideas_490098-487.jpg"
                                                alt="" style="width: 80px; height: 80px;">
                                            <div class="text-start ps-4">
                                                <h5 class="mb-3">Software Engineer</h5>
                                                <span class="text-truncate me-3"><i
                                                        class="fa fa-map-marker-alt text-primary me-2"></i>New York,
                                                    USA</span>
                                                <span class="text-truncate me-3"><i
                                                        class="far fa-clock text-primary me-2"></i>Full Time</span>
                                                <span class="text-truncate me-0"><i
                                                        class="far fa-money-bill-alt text-primary me-2"></i>$123 -
                                                    $456</span>
                                            </div>
                                        </div>
                                        <div
                                            class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                            <div class="d-flex mb-3">
                                                <a class="btn btn-light btn-square me-3" href=""><i
                                                        class="far fa-heart text-primary"></i></a>
                                                <a class="btn btn-primary" href="">Apply</a>
                                            </div>
                                            <small class="text-truncate mt-4"><i
                                                    class="far fa-calendar-alt text-primary me-2"></i>Date Line: 01 Jan,
                                                2045</small>
                                        </div>
                                    </div>
                                </div>
                                               
                                <div class="job-item p-4 mb-4 border bg-white border-primary">
                                    <div class="row g-4">
                                        <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                            <img class="flex-shrink-0 img-fluid border rounded" src="https://img.freepik.com/premium-vector/free-vector-company-logo-set-design-ideas_490098-487.jpg"
                                                alt="" style="width: 80px; height: 80px;">
                                            <div class="text-start ps-4">
                                                <h5 class="mb-3">Software Engineer</h5>
                                                <span class="text-truncate me-3"><i
                                                        class="fa fa-map-marker-alt text-primary me-2"></i>New York,
                                                    USA</span>
                                                <span class="text-truncate me-3"><i
                                                        class="far fa-clock text-primary me-2"></i>Full Time</span>
                                                <span class="text-truncate me-0"><i
                                                        class="far fa-money-bill-alt text-primary me-2"></i>$123 -
                                                    $456</span>
                                            </div>
                                        </div>
                                        <div
                                            class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                            <div class="d-flex mb-3">
                                                <a class="btn btn-light btn-square me-3" href=""><i
                                                        class="far fa-heart text-primary"></i></a>
                                                <a class="btn btn-primary" href="">Apply</a>
                                            </div>
                                            <small class="text-truncate mt-4"><i
                                                    class="far fa-calendar-alt text-primary me-2"></i>Date Line: 01 Jan,
                                                2045</small>
                                        </div>
                                    </div>
                                </div>
                                               
                                <div class="job-item p-4 mb-4 border bg-white border-primary">
                                    <div class="row g-4">
                                        <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                            <img class="flex-shrink-0 img-fluid border rounded" src="https://img.freepik.com/premium-vector/free-vector-company-logo-set-design-ideas_490098-487.jpg"
                                                alt="" style="width: 80px; height: 80px;">
                                            <div class="text-start ps-4">
                                                <h5 class="mb-3">Software Engineer</h5>
                                                <span class="text-truncate me-3"><i
                                                        class="fa fa-map-marker-alt text-primary me-2"></i>New York,
                                                    USA</span>
                                                <span class="text-truncate me-3"><i
                                                        class="far fa-clock text-primary me-2"></i>Full Time</span>
                                                <span class="text-truncate me-0"><i
                                                        class="far fa-money-bill-alt text-primary me-2"></i>$123 -
                                                    $456</span>
                                            </div>
                                        </div>
                                        <div
                                            class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                            <div class="d-flex mb-3">
                                                <a class="btn btn-light btn-square me-3" href=""><i
                                                        class="far fa-heart text-primary"></i></a>
                                                <a class="btn btn-primary" href="">Apply</a>
                                            </div>
                                            <small class="text-truncate mt-4"><i
                                                    class="far fa-calendar-alt text-primary me-2"></i>Date Line: 01 Jan,
                                                2045</small>
                                        </div>
                                    </div>
                                </div>
                                               
                                <div class="job-item p-4 mb-4 border bg-white border-primary">
                                    <div class="row g-4">
                                        <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                            <img class="flex-shrink-0 img-fluid border rounded" src="https://img.freepik.com/premium-vector/free-vector-company-logo-set-design-ideas_490098-487.jpg"
                                                alt="" style="width: 80px; height: 80px;">
                                            <div class="text-start ps-4">
                                                <h5 class="mb-3">Software Engineer</h5>
                                                <span class="text-truncate me-3"><i
                                                        class="fa fa-map-marker-alt text-primary me-2"></i>New York,
                                                    USA</span>
                                                <span class="text-truncate me-3"><i
                                                        class="far fa-clock text-primary me-2"></i>Full Time</span>
                                                <span class="text-truncate me-0"><i
                                                        class="far fa-money-bill-alt text-primary me-2"></i>$123 -
                                                    $456</span>
                                            </div>
                                        </div>
                                        <div
                                            class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                            <div class="d-flex mb-3">
                                                <a class="btn btn-light btn-square me-3" href=""><i
                                                        class="far fa-heart text-primary"></i></a>
                                                <a class="btn btn-primary" href="">Apply</a>
                                            </div>
                                            <small class="text-truncate mt-4"><i
                                                    class="far fa-calendar-alt text-primary me-2"></i>Date Line: 01 Jan,
                                                2045</small>
                                        </div>
                                    </div>
                                </div>
                                
                                
                                
                   
                                <!-- <a class="btn btn-primary py-3 px-5" href="">Browse More Jobs</a> -->
                            </div>
                         
                        </div>
                    </div>

                    <div class=" rounded shadow py-0 wow fadeInUp bg-white border col-7  sticky-top mb-4 pt-2 pb-3" data-wow-delay="0.1s" style="height: fit-content;">
                        <div class="container  mb-4" style="height: 90vh; overflow-y: scroll;padding: 0; overflow-x: hidden;">
                            <div class="row gy-5 gx-4 ">
                                <div class="col-lg-12">
                                    <div class="d-flex align-items-center mb-2  sticky-top bg-light shadow border-b  ">
                                        <img class="flex-shrink-0 img-fluid border rounded" src="https://img.freepik.com/premium-vector/free-vector-company-logo-set-design-ideas_490098-487.jpg"
                                            alt="" style="width: 80px; height: 80px;">
                                        <div class="text-start ps-4">
                                            <h3 class="mb-3">Marketing Manager</h3>
                                            <span class="text-truncate me-3"><i
                                                    class="fa fa-map-marker-alt text-primary me-2"></i>New York,
                                                USA</span>
                                            <span class="text-truncate me-3"><i
                                                    class="far fa-clock text-primary me-2"></i>Full Time</span>
                                            <span class="text-truncate me-0"><i
                                                    class="far fa-money-bill-alt text-primary me-2"></i>$123 -
                                                $456</span>

                                                <hr>

                                        </div>
                                    </div>

                                    <div class="mb-5 col-lg-10">
                                        <h4 class="mb-3">Job description</h4>
                                        <p>Dolor justo tempor duo ipsum accusam rebum gubergren erat. Elitr stet dolor
                                            vero clita labore gubergren. Kasd sed ipsum elitr clita rebum ut sea diam
                                            tempor. Sadipscing nonumy vero labore invidunt dolor sed, eirmod dolore amet
                                            aliquyam consetetur lorem, amet elitr clita et sed consetetur dolore
                                            accusam. Vero kasd nonumy justo rebum stet. Ipsum amet sed lorem sea magna.
                                            Rebum vero dolores dolores elitr vero dolores magna, stet sea sadipscing
                                            stet et. Est voluptua et sanctus at sanctus erat vero sed sed, amet duo no
                                            diam clita rebum duo, accusam tempor takimata clita stet nonumy rebum est
                                            invidunt stet, dolor.</p>
                                        <h4 class="mb-3">Responsibility</h4>
                                        <p>Magna et elitr diam sed lorem. Diam diam stet erat no est est. Accusam sed
                                            lorem stet voluptua sit sit at stet consetetur, takimata at diam kasd
                                            gubergren elitr dolor</p>
                                        <ul class="list-unstyled">
                                            <li><i class="fa fa-angle-right text-primary me-2"></i>Dolor justo tempor
                                                duo ipsum accusam</li>
                                            <li><i class="fa fa-angle-right text-primary me-2"></i>Elitr stet dolor vero
                                                clita labore gubergren</li>
                                            <li><i class="fa fa-angle-right text-primary me-2"></i>Rebum vero dolores
                                                dolores elitr</li>
                                            <li><i class="fa fa-angle-right text-primary me-2"></i>Est voluptua et
                                                sanctus at sanctus erat</li>
                                            <li><i class="fa fa-angle-right text-primary me-2"></i>Diam diam stet erat
                                                no est est</li>
                                        </ul>
                                        <h4 class="mb-3">Qualifications</h4>
                                        <p>Magna et elitr diam sed lorem. Diam diam stet erat no est est. Accusam sed
                                            lorem stet voluptua sit sit at stet consetetur, takimata at diam kasd
                                            gubergren elitr dolor</p>
                                        <ul class="list-unstyled">
                                            <li><i class="fa fa-angle-right text-primary me-2"></i>Dolor justo tempor
                                                duo ipsum accusam</li>
                                            <li><i class="fa fa-angle-right text-primary me-2"></i>Elitr stet dolor vero
                                                clita labore gubergren</li>
                                            <li><i class="fa fa-angle-right text-primary me-2"></i>Rebum vero dolores
                                                dolores elitr</li>
                                            <li><i class="fa fa-angle-right text-primary me-2"></i>Est voluptua et
                                                sanctus at sanctus erat</li>
                                            <li><i class="fa fa-angle-right text-primary me-2"></i>Diam diam stet erat
                                                no est est</li>
                                        </ul>



                                        <h4 class="mb-4">Job Summery</h4>
                                        <p><i class="fa fa-angle-right text-primary me-2"></i>Published On: 01 Jan, 2045
                                        </p>
                                        <p><i class="fa fa-angle-right text-primary me-2"></i>Vacancy: 123 Position</p>
                                        <p><i class="fa fa-angle-right text-primary me-2"></i>Job Nature: Full Time</p>
                                        <p><i class="fa fa-angle-right text-primary me-2"></i>Salary: $123 - $456</p>
                                        <p><i class="fa fa-angle-right text-primary me-2"></i>Location: New York, USA
                                        </p>
                                        <p class="m-0"><i class="fa fa-angle-right text-primary me-2"></i>Date Line: 01
                                            Jan, 2045</p>
                                    </div>



                                    
                                        <div class="form-group mt-4 d-grid gap-0 sticky-bottom p-1 shadow border-b bg-white">
                                            <button type="submit" class="btn btn-primary">Apply</button>
                                          </div>
                                            

                                       

                                </div>


                            </div>
                        </div>
                    </div>

                </div>

        </div>
    </div>
    <!-- Jobs End -->


    <!-- Testimonial Start -->

    <!-- Testimonial End -->


    <!-- Footer Start -->

    <!-- Footer End -->


    <!-- Back to Top -->
</div>

{% endblock %}